.preview-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    display: block;
    margin-top: 5px;
}

body {
    padding-bottom: 150px;
    background-color: light-dark(white, black);
    background-size: cover;
    background-position: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: light-dark(white, black);
    opacity: 0.9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border-color: light-dark(gray, white);
}

#counter {
    margin: 0 10px;
}

#send {
    margin: 0 10px;
}

#theme-toggle {
    margin: 0 10px;
}